<div class="city-widget-container waves-effect waves-dark">
  <div class="city-widget">
    <div class="upper-half">
      <span><h4 class="city-title">{{city}}</h4></span>
    </div>
    <div class="lower-half">
      <div class="lower-left">
        <div class="right-align align-temp">
          <div><i class="web-font wi wi-thermometer"></i></div>
          <div class="temp"><span>{{temperature}}</span></div>
        </div>

      </div>
      <div class="lower-right">
        <div class="left-align align-temp">
          <div><i class="web-font wi wi-windy"></i></div>
          <div class="temp"><span>
              {{wind}}
            </span></div>
        </div>
      </div>
    </div>
  </div>
</div>