.city-widget-container{
    background-color: lightblue;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    box-shadow: 10px -10px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px rgba(1,3,5,0.4);
    &:hover {
        box-shadow: 0 0 0 5px rgba(#fff,.4) , 0 0 0 10px  #0091df;
    }
    .city-title{
        padding-top: 30px;
    }
}


.city-widget{
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    
    .upper-half, .lower-half{
        width: 100%;
        text-align: center;
        height: 50%;
        line-height: 100px;
    }
    .upper-half{
        border-bottom: 1px solid;
    }
    .lower-half{
        background-color: lightgrey;
        display: flex;
        flex-direction: row;
        height: 50%;
        .lower-left{
            border-right: 1px solid;
            flex:1;
            .align-temp {
                padding-left: 20px;
            }
        }
        .lower-right{
            flex: 1;
            .align-temp {
                padding-right: 20px;
            }
        }
        .temp {
                position: absolute;
                margin-top: 20px;
            }
        .align-temp {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
       
    }
    
}