<div class="row">
    <div class="col m12 s12 chart-container">
      <div *ngIf="weatherData">
      <canvas baseChart 
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>