<div class="container">
  <div class="center-align">
    <h2>{{weatherInfo?.city.name}} Forecast</h2>

    <div class="switch">
      <label>
        Wind
        <input type="checkbox" [(ngModel)]="isTempChecked">
        <span class="lever"></span>
        Temperature
      </label>
    </div>

    <div>
      <app-chart [weatherData]="weatherInfo" [forecastType]="!isTempChecked?'wind':'temperature'"></app-chart>
    </div>
    <div *ngIf="weatherInfo">
      <div class="col m3 s12 weather-list-item" *ngFor="let weather of weatherInfo?.forecast; let i=index; trackBy:index">
        <div><img src="{{weather.icon}}" title="{{weather.condition}}"></div>
        <div><strong>{{weather.day}}</strong></div>
        <div><strong>{{weather.hour}}</strong></div>
        <div [hidden]="!isTempChecked">{{weather.temp}} °C <i class="web-font wi wi-thermometer"></i> </div>
        <div [hidden]="isTempChecked">{{weather.wind}} Km/hr <i class="web-font wi wi-windy"></i></div>
      </div>
    </div>
  </div>
</div>