/* You can add global styles to this file, and also import other style files */
.web-font{
    font-size: 40px;
}

html{ height:100%; }
body{ min-height:100%; padding:0; position:relative; }

app-city-widget{
    display:inline-flex;
    margin:30px;
}

app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

app-city-list{
    section{
        text-align: center;
    }
}
header nav, footer{
    background-color: #283e4a !important;
}

@media screen and (max-width:767px){
    app-footer{
        position: static;
    }
    .weather-list-item{
        border-bottom: 1px solid lightgrey;
        padding-bottom: 15px !important;
    }
}

